body{
    background-color: gray;
}
h1[name="Land"]{
    background-color: blue;
    text-align: center;
    z-index: 5;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
p[name="BuyNow"]{
    text-align: center;
    translate: 1100px;
    color: aqua;
    font-size: 40px;
    width: 165px;
    background-color: black;
    
}